body{
	background: url("images/dark_hardwood.jpg") repeat;
}
.menuBar{
	color: white;
	text-align: center;
}
.button{
	background: #777777;
	width: 24%;
	margin: 0.5%;
	float: left;
}
.button:hover{
	background: #999999;
	font-weight: bold;
}
img{
	max-width: 100%;
	max-height: 100%;
}
footer{
	display: flex;
background: black;
position: fixed;
height: 50px;
width: 100%;
border-top: 1px solid white;
	font-weight: bold;
	color: white;
justify-content:center;
   align-items:center;
}
.text-muted{
	color:white;
}
#slider {
    width: 720px;
    height: 1200px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 1200px;
    margin: 0;
    padding: 4;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 1200px;
}


/* helper css, since we don't have images */
.slide1 {background: url("images/eventme.gif"); background-repeat: no-repeat; }
.slide2 {background: url("gifs/eventme2.gif"); background-repeat: no-repeat; max-width: 100%;
	max-height: 100%;}
.slide3 {background: url("gifs/instagram.gif"); background-repeat: no-repeat; max-width: 100%;
	max-height: 100%;}
.slide4 {background: url("gifs/flixter.gif");  background-repeat: no-repeat; max-width: 100%;
	max-height: 100%;}
.slide5 {background: url("gifs/twitter.gif"); background-repeat: no-repeat; max-width: 100%;
	max-height: 100%;}
	#slider2 {
	    width: 1500px;
	    height: 1200px;
	    overflow: hidden;
	}

	#slider2 .slides {
	    display: block;
	    width: 6000px;
	    height: 1200px;
	    margin: 0;
	    padding: 4;
	}

	#slider2 .slide {
	    float: left;
	    list-style-type: none;
	    width: 1500px;
	    height: 1200px;
	}
.slide6 {background: url("gifs/hpms.gif"); background-repeat: no-repeat; max-width: 100%;
	max-height: 100%;  }
